%h1 Thank you
#request-invite.modal{:style => "display: 'block';"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Thank you!
  .modal-body
    %p We have received your request for an invitation to example.com.
    %p We'll contact you when we launch.
