<h1>Thank you</h1>
<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Thank you!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 120px; overflow: visible">
    <p>We have received your request for an invitation to example.com.</p>
    <p>We'll contact you when we launch.</p>
    <p>Share your discovery with your friends!</p>
    <div id="tweet" style="display:inline-block;">
      <a class="twitter-share-button" data-count="horizontal" data-text="A new site I've discovered" data-url="http://railsapps.github.com/rails-prelaunch-signup/" data-via="rails_apps" data-related="rails_apps" href="https://twitter.com/share"></a>
    </div>
    <span style="display:inline-block; vertical-align:text-bottom;">
      <div class="fb-like" data-href="http://railsapps.github.com/rails-prelaunch-signup/" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90">
      </div>
    </span>
    <div class="g-plusone" data-annotation="inline" data-href="http://railsapps.github.com/rails-prelaunch-signup/" data-size="medium" data-width="120">
    </div>
  </div>
</div>