%h1 Thank you
#request-invite.modal{:style => "display: 'block';"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} &#215;
    %h3 Thank you!
  .modal-body{:style => "margin-bottom: 120px; overflow: visible"}
    %p We have received your request for an invitation to example.com.
    %p We'll contact you when we launch.
    %p Share your discovery with your friends!
    #tweet{:style => "display:inline-block;"}
      %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "A new site I've discovered", "data-url" => "http://railsapps.github.com/", "data-via" => "rails_apps", "data-related" => "rails_apps", :href => "https://twitter.com/share"}
    %span{:style => "display:inline-block; vertical-align:text-bottom;"}
      .fb-like{"data-href" => "http://railsapps.github.com/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90"}
    .g-plusone{"data-annotation" => "inline", "data-href" => "http://railsapps.github.com/", "data-size" => "medium", "data-width" => "120"}