<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      We have received your request for an invitation to example.com.
    </p>
    <p>
      We'll contact you when we launch.
    </p>
  </body>
</html>